*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color:blueviolet ;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    display: flex;
    border-radius: 50% ;
    align-items: center;
    justify-content: center;
}.choice:hover {
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
    
}
img{
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem ;
}

#user,#comp{
   font-size:4rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
  background-color: black;
  color: white;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}